h1 {
	font-style: italic;
	font-size: 400%;
}

body {
	text-align: center;
	background-color: #CCFFFF;
}

a {
	font-size: 170%;
	padding: 25px;
}

.links {
	font-size: 20px;
	font-family: garamond;
}

.introAndImage {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 25px;
}

.intro {
    max-width: 49%;
    height: auto;
    float: left;
}

.intro p {
	font-size: 25px;
}

.image {
    float:right;
    max-width: 49%;
    height: auto;
    background: black;
}
